.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    height: 100vh;
  }
  
  .header {
    grid-column: 1 / -1;
  }
  
  .nav {
    grid-row: 2 / 2;
  }
  
  .main {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }
  
  .aside {
    grid-row: 3 / 4;
    grid-column: 1 / 1; /* Ajuste para ocupar toda a largura abaixo do main */
  }
  
  .footer {
    grid-column: 1 / -1;
  }